@import "./variables";

.Card {
  width: 32.7rem;
  height: 478px;
  margin: 0 auto;
  padding: 0 0 32px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    padding: 0;
    margin: 0;
  }

  h3 {
    margin: 0 0 16px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $primaryColor;
  }

  p {
    margin: 16px 0 0;
    font-family: Jost;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
  }

  .text-wrap {
    padding: 2.5rem;
    background-color: #fdf3f0;
    margin-top: -0.6rem;
    border-radius: 0 0 15px 15px;
  }
}

@media screen and (min-width: $tablet) {
  .Card {
    flex-direction: row;
    width: 689px;
    height: 310px;
    align-items: center;
    justify-content: center;

    .text-wrap {
      width: 689px;
      height: 310px;
      border-radius: 0 15px 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 339px;
      height: 310px;
      border-radius: 15px 0 0 15px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .Card {
    flex-direction: column;
    width: 350px;
    height: 478px;
    padding-bottom: 7rem;

    .text-wrap {
      width: 100%;
      border-radius: 0 0 15px 15px;
    }

    img {
      border-radius: 15px 15px 0 0;
      margin: 0;
      width: 350px;
      height: 320px;
    }
  }
}
