@import "./variables";
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $black;
  color: $white;
  position: relative;
  padding-top: 30rem;
  margin-top: 20rem;
}

.Footer-contact {
  width: 32.7rem;
  margin: 0 24px;
  padding: 64px 24px;
  border-radius: 15px;
  background-color: $primaryColor;
  color: $white;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  top: -27%;
  //   transform: translateX(-50%);
  h2 {
    margin: 0 0 20px;
    font-size: 3.2rem;
    font-weight: normal;
    line-height: 1.13;
  }

  p {
    margin: 6px 0 0;
    line-height: 1.67;
  }

  button {
    border: none;
    font-family: $fontStack;
    width: 15.2rem;
    height: 5.6rem;
    margin: 32px 63px 0 64px;
    border-radius: 8px;
    background-color: $white;
    color: $black;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  img {
    position: absolute;
    top: 0%;
    transform: translateX(-70%) scale(1, -1);
    width: 70rem;
    z-index: -1;
  }
}

.Footer-content {
  img {
    width: 20rem;
    margin-bottom: 3.2rem;
    margin-top: -9.2rem;
  }

  hr {
    opacity: 0.1;
    width: 90vw;
  }

  ul {
    list-style: none;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      line-height: 1;
      letter-spacing: 2px;
      font-weight: normal;
      padding-bottom: 3rem;
      text-transform: uppercase;
    }
  }

  p {
    margin: 11.9px 0 30px;
    opacity: 0.5;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
  }

  .office {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .icons-container {
    padding-top: 3rem;
    text-align: center;
    img {
      width: 2.5rem;
      object-fit: contain;
      margin-right: 2rem;
    }
  }
}
