@import "./variables";

.Home-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 24px 45rem;
  background-color: $primaryColor;
  color: $white;
  position: relative;
  overflow: hidden;
  z-index: 10;
  h2 {
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0 0 14px;
    line-height: 1.13;
  }
  p {
    font-weight: normal;
    line-height: 1.67;
    margin: 14px 0 0;
  }
  button {
    width: 15.2rem;
    height: 5.6rem;
    margin: 24px 87px 0 88px;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $fontStack;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: $white;
    color: $black;
  }

  img {
    min-width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 37%;
    transform: translateX(-50%);
  }
}
