@import "./variables";

.Home-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 24px 45rem;
  background-color: $primaryColor;
  color: $white;
  position: relative;
  overflow: hidden;
  z-index: 10;
  h2 {
    font-size: 3.2rem;
    font-weight: normal;
    margin: 0 0 14px;
    line-height: 1.13;
  }
  p {
    font-weight: normal;
    line-height: 1.67;
    margin: 14px 0 0;
  }
  button {
    width: 15.2rem;
    height: 5.6rem;
    margin: 24px 87px 0 88px;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $fontStack;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: $white;
    color: $black;
  }

  img {
    min-width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 37%;
    transform: translateX(-50%);
  }

  svg {
    position: absolute;
    top: 12%;
    transform: translateX(20%);
    z-index: -2;
  }
}

.Home-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  .project {
    margin: 0 0 24px;
    color: $white;
    background: url("./starter/assets/home/mobile/image-web-design.jpg");
    width: 327px;
    height: 250px;
    margin: 0 0 24px;
    padding: 90px 56px 89px;
    object-fit: contain;
    border-radius: 15px;
    position: relative;
    text-align: center;
    border: none;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      z-index: -1;
    }

    h3 {
      font-size: 2.8rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 1.4px;
      text-align: center;
      margin: 0 0 12px;
      text-transform: uppercase;
    }
    .transparent-dark {
      height: 100%;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    p {
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: normal;
    }
    i {
      color: $primaryColor;
      font-size: 1rem;
      margin: 7px 0 7px 16px;
    }
  }

  #app-design {
    @extend .project;
    background: url("./starter/assets/home/mobile/image-app-design.jpg");
  }
  #graphic-design {
    @extend .project;
    background: url("./starter/assets/home/mobile/image-graphic-design.jpg");
  }
}

.Home-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  .value {
    margin: 0 24px;
    margin-bottom: 8rem;

    h3 {
      margin: 32px 0 32px;
      line-height: 1.3;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      margin: 32px 0 0;
      line-height: 1.63;
      letter-spacing: normal;
    }
  }

  .img-container {
    position: relative;

    img {
      z-index: 5;
    }

    svg {
      position: absolute;
      z-index: -2;
    }
  }
}

@media screen and (min-width: $tablet) {
  .Home-landing {
    width: 689px;
    height: 843px;
    // display: block;
    margin: 0 auto;
    border-radius: 15px;

    h2 {
      font-size: 4.8rem;
      margin: 0 0 8px;
      width: 57.3rem;
    }

    p {
      margin: 8px 69px 19px 59px;
    }

    button {
      margin: 19px 210px 0 211px;
      padding: 1.5rem 2rem;
      text-align: center;
    }

    img {
      min-width: 20%;
      top: 37%;
    }
  }

  .project {
    width: 689px;
    height: 200px;
    margin: 0 0 24px;
    padding: 53px 210px 53px 211px;
    object-fit: contain;
  }
}
