@import "./variables";
.Locations {
  .country {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    .img-wrap {
      background: url("./starter/assets/locations/desktop/image-map-canada.png");
      height: 32rem;
      width: 100%;
      object-fit: contain;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .text-wrap {
      text-align: center;
      background-color: #fdf3f0;
      width: 100%;
      padding: 9rem;
      overflow: hidden;
      z-index: 4;
      position: relative;
      img {
        position: absolute;
        width: 140rem;
        top: -20%;
        z-index: -2;
        transform: translateX(-80%);
        opacity: 0.3;
      }
      h2 {
        color: $primaryColor;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.13;
        margin-bottom: 3rem;
      }
      ul {
        list-style: none;
        li {
          margin-bottom: 0.5rem;
          &:nth-child(1) {
            font-weight: bold;
          }
        }
      }
    }
  }
  #uk {
    padding-bottom: 12rem;
    .img-wrap {
      background: url("./starter/assets/locations/desktop/image-map-united-kingdom.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  #australia {
    .img-wrap {
      background: url("./starter/assets/locations/desktop/image-map-australia.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

@media screen and (min-width: $tablet) {
  .Locations {
    .country {
      width: 70rem;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 12rem;
      }
      .img-wrap {
        border-radius: 1.5rem;
        background: url("./starter/assets/locations/tablet/image-map-canada.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &:first-child {
          margin-bottom: 3rem;
        }
      }
      .text-wrap {
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .list {
          display: flex;
          ul {
            margin-right: 7rem;
            text-align: left;
          }
        }
      }
    }
    #uk {
      padding-bottom: 12rem;
      .img-wrap {
        background: url("./starter/assets/locations/tablet/image-map-uk.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    #australia {
      .img-wrap {
        background: url("./starter/assets/locations/tablet/image-map-australia.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .Locations {
    .country {
      width: 100rem;
      flex-direction: row-reverse;
      align-items: center;
      .img-wrap {
        background: url("./starter/assets/locations/desktop/image-map-canada.png");
        width: 35rem;
        height: 32.6rem;
        &:first-child {
          margin-left: 3rem;
          margin-bottom: 0;
        }
      }
      .text-wrap {
        width: 73rem;
        height: 32.6rem;
      }
      &:nth-child(3) {
        flex-direction: row;
        .img-wrap {
          margin-right: 3rem;
        }
      }
    }
    #uk {
      padding-bottom: 12rem;
      .img-wrap {
        background: url("./starter/assets/locations/desktop/image-map-united-kingdom.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    #australia {
      .img-wrap {
        background: url("./starter/assets/locations/desktop/image-map-australia.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
