@import "./variables";

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 24px 34px;
  img {
    width: 20rem;
    object-fit: contain;
  }
}

@media screen and (min-width: $tablet) {
  .Navbar {
    ul {
      list-style: none;
      li {
        display: inline-block;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2px;
        margin: 0 22px 0 0;
        font-weight: normal;
      }
    }
  }
}
