@import "./variables";

.Project {
  margin: 0 0 24px;
  color: $white;
  background: url("./starter/assets/home/mobile/image-web-design.jpg");
  width: 327px;
  height: 250px;
  margin: 0 0 24px;
  padding: 90px 56px 89px;
  object-fit: contain;
  border-radius: 15px;
  position: relative;
  text-align: center;
  border: none;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    z-index: -1;
  }

  h3 {
    font-size: 2.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: center;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  .transparent-dark {
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;
  }
  i {
    color: $primaryColor;
    font-size: 1rem;
    margin: 7px 0 7px 16px;
  }
}

@media screen and (min-width: $tablet) {
  .Project {
    width: 689px;
    height: 200px;
    margin: 0 0 24px;
    padding: 53px 210px 53px 211px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background: url("./starter/assets/home/tablet/image-web-design.jpg");

    h3 {
      font-size: 40px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 2px;
    }

    p {
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 5px;
    }
  }
}
