@import "./Home.scss";

.WebDesign {
  .hero {
    @extend .Home-landing;
    padding: 105px 24px;

    h2 {
      font-size: 3.2rem;
    }

    p {
      margin: 24px 0 0;
    }

    img {
      position: absolute;
      top: -20%;
      transform: translateX(5%) rotate(180deg);
      z-index: -2;
      width: 40rem;
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .projects {
    margin-top: 12rem;
  }

  .other-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: $tablet) {
  .WebDesign {
    .hero {
      max-height: 252px;

      h2 {
        font-size: 6rem;
      }

      p {
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 1rem;
      }

      img {
        width: 60rem;
        top: -30%;
        transform: translateX(-10%) rotate(180deg);
      }
    }

    .other-projects {
      #app-design {
        background: url("./starter/assets/home/tablet/image-app-design.jpg");
      }
      #graphic-design {
        background: url("./starter/assets/home/tablet/image-graphic-design.jpg");
        height: 20rem;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .WebDesign {
    .hero {
      img {
        // top: -50%;
        // transform: translateX(-80%) rotate(180deg);
        // width: 100rem;
      }
    }

    .hero-text {
      text-align: center;
    }

    .projects {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 12rem;
      padding-bottom: 9rem;
    }

    .other-projects {
      flex-direction: row;
      height: 30.8rem;
      #app-design {
        background: url("./starter/assets/home/desktop/image-app-design.jpg");
        margin-right: 2rem;
      }
      #graphic-design {
        background: url("./starter/assets/home/desktop/image-graphic-design.jpg");
      }
      #web-design {
        background: url("./starter/assets/home/desktop/image-web-design-large.jpg");
        margin-right: 2rem;
      }
    }
  }
}
