@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

$primaryColor: #e7816b;
$black: #1d1c1e;
$white: #fff;
$secondaryColor: #ffad9b;
$darkGrey: #333136;
$lightGrey: #f1f3f5;

$fontStack: "Jost", sans-serif;

$tablet: 768px;
$desktop: 1220px;
