@import "./variables";
.Contact {
  .form {
    width: 100vw;
    background-color: $primaryColor;
    color: $white;
    padding: 7rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 4;
    margin-bottom: 12rem;
    img {
      position: absolute;
      left: -30%;
      top: 0%;
      z-index: -2;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin: 0 2.4rem;
    }
    h2 {
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.13;
      margin-bottom: 2.4rem;
    }
    p {
      line-height: 1.67;
      margin-bottom: 6rem;
      text-align: center;
      font-weight: normal;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input,
      textarea {
        font-family: $fontStack;
        font-size: 1.6rem;
        width: 37rem;
        padding: 1rem;
        border: none;
        margin-bottom: 1rem;
        background-color: inherit;
        border-bottom: 1px solid white;
        color: white;
        &::-webkit-input-placeholder {
          color: $white;
          opacity: 0.5;
        }
        &::-ms-input-placeholder {
          color: $white;
          opacity: 0.5;
        }
        &::-moz-placeholder {
          color: $white;
          opacity: 0.5;
        }
        &::-moz-placeholder {
          color: $white;
          opacity: 0.5;
        }
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid white;
        }
      }
      button {
        width: 15.2rem;
        height: 5.6rem;
        margin: 40px 87px 0 88px;
        padding: 18px 47px 16px 48px;
        border-radius: 8px;
        background-color: $white;
        border: none;
        font-family: $fontStack;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: $secondaryColor;
          color: white;
        }
      }
    }
  }
  .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: $tablet) {
  .Contact {
    .form {
      width: 70rem;
      margin: 0 auto;
      border-radius: 15px;
      padding: 7rem 5rem;
      margin-bottom: 12rem;
      img {
        width: 200rem;
        left: -100%;
        top: 0%;
      }

      h2 {
        font-size: 4.8rem;
      }
      p {
        text-align: left;
      }
      .container {
        align-items: flex-start;
      }
      form {
        input,
        textarea {
          width: 57rem;
        }
        button {
          align-self: flex-end;
          margin-right: -0.7rem;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .Contact {
    .form {
      width: 111rem;
      .container {
        flex-direction: row;
        align-items: center;
        p {
          width: 45rem;
        }
        .text-wrap {
          margin-right: 10rem;
        }
      }
      form {
        input,
        textarea {
          width: 38rem;
        }
      }
      img {
        width: 200rem;
        left: -0%;
        top: 0%;
      }
    }
    .locations {
      flex-direction: row;
      justify-content: space-around;
      width: 111rem;
      margin: 0 auto;
    }
  }
}
